$background-color: #EEEEEE;
$near-black: rgba(0,0,0,0.7);
$header-color: #f44336;
$mid-grey: rgba(0,0,0,0.4);

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Merriweather', serif;

$light-shadow: 0.5px 1px 3px 1px rgba(0,0,0,0.1);
$dark-shadow: 0.5px 1px 10px 0 rgba(0,0,0,0.3);

$note-padding: 2rem;

body{
	background-color: $background-color;
	color: $near-black;
	font-family: $primary-font;
	margin: 0;
}

h1, h2, h3{
	font-family: $secondary-font;
	margin-top: 0;
}

header{
	background-color: $header-color;
	color: white;
	padding: 1em 2em;

	h1{
		margin: 0;
		font-family: $primary-font;
		font-weight: bold;
		font-size: 1.5rem;
	}
}

.note-area{
	padding: 3em;
	max-width: 40em;
	margin: 0 auto;
}

.note-creator, .note{
	background-color: white;
	box-shadow: $light-shadow;
	position: relative;
	margin-bottom: 1em;
	transition: box-shadow 0.2s ease-in-out;

	&.focussed{
		box-shadow: $dark-shadow;
	}
}

.note-header{
	display: block;
	width: 100%;
	height: 20px;
	background-color: rgba(0,0,0,0.03);
	cursor: move;
}

.note-text-area{
	padding: $note-padding;

	&:focus{
		outline: none;
	}
}

.note-placeholder{
	color: $mid-grey;
	padding: $note-padding;
	position: absolute;
	left: 0;
	top: 0;
	user-select: none;
	pointer-events: none;
}

.note-controls{
	position: absolute;
	right: 1rem;
	bottom: 0.5rem;
	text-align: right;
}

.note-last-edited{
	color: $mid-grey;
	position: absolute;
	top: 3px;
	right: 1rem;
	user-select: none;
	pointer-events: none;
	font-size: 0.7em;
	font-style: italic;
}

.done-button{
	font-family: $primary-font;
	font-weight: bold;
	font-size: 0.7em;
	background: none;
	appearance: none;
	border: none;
	padding: 0.25em 1em;
	color: fade-out(black, 0.4);
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 0.5em;
	transition: all 0.2s;
	display: inline-block;
	margin-left: 3px;

	&:hover{
		color: fade-out(black, 0.2);
		background-color: fade-out(black, 0.9);
	}

	&:focus{
		outline: none;
	}
}

.color-selector{
	position: relative;
	display: inline-block;
}

.color-selector-drawer{
	position: absolute;
	width: 7em;
	text-align: center;
	background-color: white;
	padding: 0.5em 0.25em;
	box-shadow: $light-shadow;
	opacity: 0;
	z-index: 1;

	&.open{
		opacity: 1;
	}
}

.color-selector-button{
	width: 1.5em;
	height: 1.5em;
	border-radius: 100%;
	display: inline-block;
	border: none;
	margin: 2px;
	cursor: pointer;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.2);

	&:hover, &.selected{
		box-shadow: 0 0 0 1px #2196F3;
	}
}